MVC project/ProjectSolution/MVC/Connected Services/SOAPService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbilities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="GetAbilitiesResult" nillable="true" type="q3:ArrayOfAbilityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbilitiesSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filtering" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbilitiesSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="GetAbilitiesSearchResult" nillable="true" type="q4:ArrayOfAbilityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAbility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="abilityDTO" nillable="true" type="q5:AbilityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAbilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostAbilityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbilityByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbilityByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="GetAbilityByIDResult" nillable="true" type="q6:AbilityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletAbility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletAbilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletAbilityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="abilityDTO" nillable="true" type="q7:AbilityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeapons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeaponsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="GetWeaponsResult" nillable="true" type="q8:ArrayOfWeaponDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostWeapon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="weaponDTO" nillable="true" type="q9:WeaponDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostWeaponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostWeaponResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeaponByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeaponByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="GetWeaponByIDResult" nillable="true" type="q10:WeaponDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletWeapon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletWeaponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletWeaponResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClans">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="GetClansResult" nillable="true" type="q11:ArrayOfClanDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="clanDTO" nillable="true" type="q12:ClanDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostClanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostClanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClanByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClanByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="GetClanByIDResult" nillable="true" type="q13:ClanDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteClanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="clanDTO" nillable="true" type="q14:ClanDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClanResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChampions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChampionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="GetChampionsResult" nillable="true" type="q15:ArrayOfChampionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostChampion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="championDTO" nillable="true" type="q16:ChampionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostChampionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostChampionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChampionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChampionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="GetChampionByIDResult" nillable="true" type="q17:ChampionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChampion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChampionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteChampionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChampion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AplicationService.DTOs" minOccurs="0" name="championDTO" nillable="true" type="q18:ChampionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChampionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateChampionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>